.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url("../../assets/images/carousel-1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  text-align: center;
  max-width: 800px;
}
.hero-text h1 {
  font-size: 3.7rem;
}
.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}
.hero-text-inner {
  color: #cca876;
}
@media (min-width: 768px) {
  .hero-text-inner::before,
  .hero-text-inner::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    opacity: 0.36;
    border-bottom: 1px solid;
  }

  .hero-text-inner::after {
    margin-left: 12px;
  }
  .hero-text-inner::before {
    margin-right: 12px;
  }
}

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 3.35rem;
  }
}
@media (max-width: 650px) {
  .hero-text h1 {
    font-size: 1.85rem;
    max-width: 400px;
  }
  .hero-text p {
    font-size: 0.85rem;
    margin: 0.75rem auto 1.85rem;
  }
}
